<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UI Test Automation Framework" verbose="1" parallel="tests" thread-count="1">
    <listeners>
        <listener class-name="com.sqe.framework.listeners.TestListener"/>
    </listeners>

    <test name="SauceDemo Tests" preserve-order="true">
        <classes>
            <class name="com.sqe.tests.runners.TestRunner"/>
        </classes>
    </test>
</suite>